*{
    margin: 0;
    padding: 0;
}


body{
    background-color:palevioletred ;
}

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vmin;
}



.msg{
    color: azure;
    font-size: 3rem;
}



.new-game{
    background-color: rgb(55, 9, 9);
    color: azure;
    font-size: 3vmin;
    border: none;
    border-radius: 3vmin;
    height: 10vmin;
    width: 20vmin;
}



.box-container{
    margin-left: 13vmin;
    height: 80vh;
    width: 190vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.heading{
    color: rgb(55, 9, 9) ;
    font-size: 2rem;
}

.boxes{
    height: 50vh;
    width: 50vmin;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}



.box{
    background-color: bisque;
    color:  rgb(55, 9, 9) ;
    height: 15vmin;
    width: 15vmin;
    border: none;
    gap: none;
    border-radius: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vmin;
}



#reset-button{
     background-color: rgb(55, 9, 9);
    color: azure;
    font-size: 2.5vmin;
    border: none;
    border-radius: 3vmin;
    height: 10vmin;
    width: 20vmin;
}



.hide{
    display: none;
}